
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<body>
    <div>
        <p>This website offers a new, cutting-edge solution for all your TODO list needs. Enjoy the ease with which you can manage all your upcoming events!</p>
    </div>
</body>

