body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body > div.navbar > div.container > div.navbar-collapse > ul.nav > li {
    color: #999999;
    position: center;
    line-height: 3.6;
    padding-left: 10px;
    padding-right: 10px;
}

.highlight {
    background-color: #ffdd38;
}

.highlight-expired {
    background-color: #ff1515;
}

input.button {
    padding: 6px 12px;
    border: 1px solid #585858;
    border-radius: 10px;
    background-color: #5b60ff;
    font-weight: bold;
    color: #ffffff;
}

textarea {
    padding: 6px 12px;
    max-width: 560px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#prev-page {
    margin-right: 10px;
}

#next-page {
    margin-left: 10px;
}

.form-control {
    border-radius: 2px;
    padding: 4px 10px;
}

tr > .limit-size {
    max-width: 300px;
    word-wrap: break-word;
}