
@{
    ViewBag.Title = "Forbidden";
}

<h2>Forbidden</h2>

<p>It seems you were trying to access an item to which you do not have permissions.</p>

<div>
    @Html.ActionLink("Return to your list", "List")
</div>
